# ===== Emacs cache / local state =====
auto-save-list/
eln-cache/
var/
url/
tramp
recentf
places
bookmarks
old/
eshell/
projects

# Projectile (local)
projectile-bookmarks.eld

# OS
.DS_Store
Thumbs.db

# ===== straight.el =====
straight/*
!straight/versions/
!straight/versions/default.el
